<!-- index.gohtml -->

<!-- embed header.gothml at this location -->
{{ template "header.gohtml" .}}

  <h1>Hola Gin!</h1>

<!-- embed footer.gohtml at this location -->

{{template "footer.gohtml" .}}
