<!-- menu.gohtml -->

<nav class="navbar navbar-default" >
  <div class="container" >
    <div class="navbar-header" >
      <div class="navbar-brand" href="/" >
        Home
      </div>
    </div>
  </div>
</nav>
